*.class

# Package Files #
*.war
*.orig
*.ear
.gitignore.swp

# IDEA Files
*.iml

/**/.settings
/**/.externalToolBuilders

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#general files in all extensions
/**/extensioninfo.xsd
/**/build.xml
/**/gensrc
/**/classes
/**/eclipsebin
/**/addons/*
/**/addonsrc/*
/**/commonwebsrc/*
*-testclasses.xml
*-webtestclasses.xml
hmc.xsd
beans.xsd
items.xsd
rebel.xml
platformhome.properties
/**/node_modules/
npm-debug.log

**/_ui/responsive/theme-blue/css/*
**/_ui/responsive/theme-blue/fonts/*
**/_ui/responsive/common/js/*
**/_ui/responsive/common/bootstrap/*
**/_ui/responsive/common/images/icons.svg

**/web/webroot/WEB-INF/messages/theme-alpha*
**/lynxcore/lib/*
**/lynxdamintegration/lib/*

amwaycommercewebservices/web/addonsrc/*
amwaycommercewebservices/web/webroot/WEB-INF/tld/addons/*
amwaycommercewebservices/web/addonsrc/*
amwaycommercewebservices/web/webroot/_ui/addons/*
amwaycommercewebservices/web/webroot/WEB-INF/messages/addons/*
amwaycommercewebservices/web/webroot/WEB-INF/tags/addons/*
amwaycommercewebservices/web/webroot/WEB-INF/views/addons/*
amwaycommercewebservices/web/webroot/cmscockpit/*
amwaycommercewebservices/web/webroot/cockpit/*
amwaycommercewebservices/web/webroot/cscockpit/*
amwaycommercewebservices/web/webroot/productcockpit/*
amwaycommercewebservices/web/webroot/WEB-INF/cache/addons/*

/**/*_bof.jar
**/.lastupdate